@import 'variables'
@import 'layout'
@import 'components'
@import 'devicon-shim'

.app
  .editor
    position absolute
    top globalMargin + navbarHeight
    right globalMargin
    bottom globalMargin
    left globalMargin
