@import 'variables'
@import 'layout'
@import 'components'
@import 'devicon-shim'

.app
  .editor
    position absolute
    top globalMargin + navbarHeight
    right globalMargin
    bottom globalMargin
    left globalMargin

    .scroller
      .ui.checkbox
        margin-left 4px
      .dropdown.button
        width 120px
        padding-left 10px
        padding-right 10px
        text-align center
