doctype html
html(lang='zh-Hans', data-ng-app='dockerfileEditor')
  head
    meta(charset='UTF-8')
    title Dockerfile 在线编辑器
    link(rel='stylesheet', href='main.css')
    script(src='main.js')
    | <!--[if lte IE 9]> <script src="js/ie.js" ></script> <![endif]-->
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='keywords', content='docker, dockerfile')
    link(rel='icon', type='image/png', href='favicon-256x256.png', sizes='256x256')
    link(rel='icon', type='image/png', href='favicon-128x128.png', sizes='128x128')
    link(rel='icon', type='image/png', href='favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='favicon-72x72.png', sizes='72x72')
    link(rel='icon', type='image/png', href='favicon-64x64.png', sizes='64x64')
    link(rel='icon', type='image/png', href='favicon-48x48.png', sizes='48x48')
    link(rel='icon', type='image/png', href='favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='favicon-24x24.png', sizes='24x24')
    link(rel='icon', type='image/png', href='favicon-16x16.png', sizes='16x16')
  body
    .app(data-ng-controller='Editor')
      .ui.fixed.inverted.main.large.menu
        .ui.page.grid
          .sixteen.wide.column
            .title.item
              b Dockerfile 在线编辑器
            a.direction.icon.link.borderless.item(data-ng-click='ListUtil.moveUp(instructions)')
              i.fa.fa-arrow-up.icon
            .direction.borderless.item
              | 移动
            a.direction.icon.link.item(data-ng-click='ListUtil.moveDown(instructions)')
              i.fa.fa-arrow-down.icon
            a.direction.icon.link.borderless.item(data-ng-click='ListUtil.insertUp(instructions, DockerInstruction.lastClick, DockerInstruction.new())')
              i.fa.fa-chevron-up.icon
            .direction.borderless.item
              | 插入
            a.direction.icon.link.item(data-ng-click='ListUtil.insertDown(instructions, DockerInstruction.lastClick, DockerInstruction.new())')
              i.fa.fa-chevron-down.icon
            a.link.item(data-ng-click='ListUtil.removeAll(instructions)')
              i.fa.fa-close.icon
              | 删除
            .right.menu
              a.link.item
                i.fa.fa-save.icon
                | 保存
              a.link.item
                i.fa.fa-folder-open.icon
                | 载入
      .editor
        .ui.two.column.middle.aligned.relaxed.fitted.stackable.page.padding.grid
          .padding.column
            .segment
              p
                .ui.left.viz.input
                  .ui.label 源镜像
                  i.di.di-docker-plain.icon
                  input(placeholder='{{default.from.image}}', type='text', style='width: 240px', value='', data-ng-model='docker.from.image')
                  i.fa.fa-tag.icon
                  input(placeholder='{{default.from.tag}}', type='text', value='', data-ng-model='docker.from.tag')
              p
                .ui.left.viz.input
                  .ui.label 维护者
                  i.fa.fa-user.icon
                  input(placeholder='{{default.maintainer.name}}', type='text', value='', data-ng-model='docker.maintainer.name')
                  i.fa.fa-envelope.icon
                  input(placeholder='{{default.maintainer.email}}', type='text', style='width: 280px', value='', data-ng-model='docker.maintainer.email')
            .ui.scroller
              .segment
                .ui.divided.list
                  .item(data-ng-repeat='ins in instructions', data-ng-class='{active: ins == DockerInstruction.lastClick}', data-ng-switch='ins.getRenderType()', data-ng-click='ListUtil.onClick(DockerInstruction, ins, $event)')
                    .control
                      .ui.fitted.checkbox(data-ng-class='{checked: ins.checked}', data-ng-click='ListUtil.onClickCheckbox(DockerInstruction, instructions, ins, $event)')
                        input(type='checkbox', data-ng-model='ins.checked')
                        label
                      .ui.floating.dropdown.labeled.button(data-ng-click='ins.toggleMenu()')
                        span.text {{ins.getType()}}
                        .menu.transition(data-ng-class='{visible: ins.showDropdown}')
                          .row(data-ng-repeat='row in instructionSpecs')
                            .item(data-ng-repeat='type in row', data-ng-click='ins.setType(type.name)') {{type.name}}
                      .ui.toggle.fitted.checkbox(data-ng-if='ins.hasToggle()', data-ng-class='{checked: ins.checked}', data-ng-click='ins.toggleMode()')
                        input(type='checkbox', data-ng-model='ins.data.toggle')
                        label
                    .param(data-ng-class='{toggle: ins.hasToggle()}')
                      .ui.pointing.left.label(data-ng-switch-when='BLANK')
                        | 不需要参数
                      .ui.fluid.input(data-ng-switch-when='COMMENT')
                        input(placeholder='{{instructionTypes["注释"].hints.content}}', type='text', data-ng-model='ins.data.content')
                      .param-exec(data-ng-switch-when='EXEC')
                        .ui.fluid.input(data-ng-if='!ins.data.toggle')
                          input(placeholder='{{instructionTypes[ins.getType()].hints.shell}}', type='text', data-ng-model='ins.data.shell')
                        .ui.six.fluid.icon.buttons(data-ng-if='ins.data.toggle')
                          .ui.button(data-ng-click='ListUtil.add(ins.data.exec, {checked: false, content: ""})')
                            i.fa.fa-plus.icon
                          .ui.button(data-ng-click='ListUtil.moveUp(ins.data.exec)')
                            i.fa.fa-arrow-up.icon
                          .ui.button(data-ng-click='ListUtil.moveDown(ins.data.exec)')
                            i.fa.fa-arrow-down.icon
                          .ui.button(data-ng-click='ListUtil.insertUp(ins.data.exec, ins.data.lastClick, {checked: false, content: ""})')
                            i.fa.fa-chevron-up.icon
                          .ui.button(data-ng-click='ListUtil.insertDown(ins.data.exec, ins.data.lastClick, {checked: false, content: ""})')
                            i.fa.fa-chevron-down.icon
                          .ui.button(data-ng-click='ListUtil.removeAll(ins.data.exec)')
                            i.fa.fa-close.icon
                        .row(data-ng-if='ins.data.toggle', data-ng-repeat='arg in ins.data.exec', data-ng-click='ListUtil.onClick(ins.data, arg, $event)')
                          .ui.fitted.checkbox(data-ng-class='{checked: arg.checked}', data-ng-click='ListUtil.onClickCheckbox(ins.data, ins.data.exec, arg, $event)')
                            input(type='checkbox', data-ng-model='arg.checked')
                            label
                          .ui.fluid.input
                            input(placeholder='{{($index === 0) && instructionTypes[ins.getType()].hints.exec.cmd || instructionTypes[ins.getType()].hints.exec.param}}', type='text', data-ng-model='arg.content')
                      //- TODO: render instructions
                p
                  .ui.green.fluid.button(data-ng-click='ListUtil.add(instructions, DockerInstruction.new())')
                    i.fa.fa-plus.icon
                    | 新指令
          .ui.vertical.divider
            i.fa.fa-arrow-right.icon
          .padding.column
            .padding.segment
              p
                .padding.ui.form
                  textarea(readonly, style='height: 100%; resize: none;')
                    | {{genDockerfile()}}

